SIE510-GIS Applications
Final Project: Deer and Moose Crashes Analysis in Maine
- Eugenie V. Kamgue -

In [1]:
import arcpy
from arcpy import env

env.workspace=r"c:\FinalProject\FinalProject.gdb"
env.overwriteOutput=True

In [2]:
eastern=r"c:\FinalProject\FinalProject.gdb\test_Eastern"

In [3]:
southern=r"c:\FinalProject\FinalProject.gdb\test_Southern"

In [4]:
western=r"c:\FinalProject\FinalProject.gdb\test_Western"

In [5]:
northern=r"c:\FinalProject\FinalProject.gdb\test_Northern"

In [6]:
midcoast=r"c:\FinalProject\FinalProject.gdb\test_MidCoast"

In [8]:
fields=arcpy.ListFields(southern)

field_names=[f.name for f in fields]
print (field_names)

['OBJECTID', 'Shape', 'FID_Southern_MooseCrashes', 'crash_id', 'accident_d', 'accident_1', 'accident_t', 'accident_y', 'contrib_ci', 'crash_cost', 'light_cond', 'location_t', 'mdotid', 'no_of_a_in', 'no_of_b_in', 'no_of_c_in', 'no_of_k_in', 'no_of_non_', 'road_surf_', 'traffic_co', 'type_of_cr', 'weather_co', 'workzone_i', 'Lat', 'Long', 'FID_Southern_Roads', 'fedfunclcd', 'fedfunccls', 'st_length_']

In [9]:
import pandas as pd
from arcgis import GIS

In [14]:
region=pd.DataFrame.spatial.from_featureclass(southern)
region.head()

,OBJECTID,FID_Southern_MooseCrashes,crash_id,accident_d,accident_1,accident_t,accident_y,contrib_ci,crash_cost,light_cond,...,type_of_cr,weather_co,workzone_i,Lat,Long,FID_Southern_Roads,fedfunclcd,fedfunccls,st_length_,SHAPE
0,1,26,2018-38359,2018-12-05,Wednesday,16:22:00,2018.0,None,2400.0,Dusk,...,Moose,Clear,No,5.330054e+06,-7.879758e+06,294,5.0,Major/urb collector,32014.217664,"{""x"": -7879757.7227, ""y"": 5330053.736100003, ""..."
1,2,2,2014-25679,2014-09-14,Sunday,13:51:00,2014.0,None,2400.0,Daylight,...,Moose,Clear,No,5.363017e+06,-7.862016e+06,329,6.0,Minor collector,20708.158697,"{""x"": -7862016.2182, ""y"": 5363017.326899998, ""..."
2,3,54,2014-12483,2014-04-23,Wednesday,20:40:00,2014.0,None,2400.0,Dark - Not Lighted,...,Moose,Cloudy,No,5.372572e+06,-7.855513e+06,101,1.0,Princ art interstate,22454.030712,"{""x"": -7855513.410700001, ""y"": 5372572.3469000..."
3,4,14,2018-27897,2018-10-03,Wednesday,19:13:00,2018.0,None,31100.0,Dark - Not Lighted,...,Moose,Clear,No,5.373867e+06,-7.889528e+06,182,3.0,Other princ arterial,18455.589760,"{""x"": -7889527.907500001, ""y"": 5373867.3971000..."
4,5,55,2014-18873,2014-07-11,Friday,04:23:00,2014.0,None,57700.0,Dark - Lighted,...,Moose,Clear,Yes,5.375260e+06,-7.854420e+06,101,1.0,Princ art interstate,22454.030712,"{""x"": -7854419.7848000005, ""y"": 5375260.404600..."

In [11]:
region.shape

(67, 29)

In [15]:
out_table="southmoosecrahRds"  # Creating a table that summarizes the number of crashes based on road types
stat_fields=[['type_of_cr', 'COUNT']]
stats=arcpy.Statistics_analysis(southern, out_table, stat_fields, case_field='fedfunccls')

In [19]:
field_names=[i.name for i in arcpy.ListFields(out_table) if i.type !='OID']
cursor=arcpy.da.SearchCursor(out_table, field_names)
stats=pd.DataFrame(data=[row for row in cursor], columns=field_names)
stats.head()

             fedfunccls  FREQUENCY  COUNT_type_of_cr
0                 Local          2                 2
1   Major/urb collector         18                18
2        Minor arterial          9                 9
3       Minor collector         10                10
4  Other princ arterial         13                13

In [20]:
out_table1="southmoosecrahTime"  # Creating a table that summarizes the number of crashes based on the time of the day
stat_fields1=[['type_of_cr', 'COUNT']]
stats1=arcpy.Statistics_analysis(southern, out_table1, stat_fields1, case_field='light_cond')

In [22]:
field_names1=[i.name for i in arcpy.ListFields(out_table1) if i.type !='OID']
cursor=arcpy.da.SearchCursor(out_table1, field_names1)
stats1=pd.DataFrame(data=[row for row in cursor], columns=field_names1)
stats1.head()

           light_cond  FREQUENCY  COUNT_type_of_cr
0      Dark - Lighted          5                 5
1  Dark - Not Lighted         50                50
2                Dawn          3                 3
3            Daylight          6                 6
4                Dusk          3                 3

In [24]:
out_table2="southmoosecrahTraf"  # Creating a table that summarizes the number of crashes based on the presence of traffic signs
stat_fields2=[['type_of_cr', 'COUNT']]
stats2=arcpy.Statistics_analysis(southern, out_table2, stat_fields2, case_field='traffic_co')

In [25]:
field_names2=[i.name for i in arcpy.ListFields(out_table2) if i.type !='OID']
cursor=arcpy.da.SearchCursor(out_table2, field_names2)
stats2=pd.DataFrame(data=[row for row in cursor], columns=field_names2)
stats2.head()

              traffic_co  FREQUENCY  COUNT_type_of_cr
0  Advisory/Warning Sign          1                 1
1        No Passing Zone          4                 4
2                   None         60                60
3                  Other          2                 2

In [26]:
out_table3="southmoosecrahRdCo"  # Creating a table that summarizes the number of crashes based on road condition
stat_fields3=[['type_of_cr', 'COUNT']]
stats3=arcpy.Statistics_analysis(southern, out_table3, stat_fields3, case_field='road_surf_')

In [27]:
field_names3=[i.name for i in arcpy.ListFields(out_table3) if i.type !='OID']
cursor=arcpy.da.SearchCursor(out_table3, field_names3)
stats3=pd.DataFrame(data=[row for row in cursor], columns=field_names3)
stats3.head()

  road_surf_  FREQUENCY  COUNT_type_of_cr
0        Dry         61                61
1        Wet          6                 6

In [28]:
arcpy.AlterField_management(out_table, "COUNT_type_of_cr", "Number_of_Crashes", "Number_of_Crashes")  # renaming field

In [29]:
arcpy.AlterField_management(out_table, "fedfunccls", "Road_Classification", "Road_Classification")  # renaming field

In [30]:
arcpy.AlterField_management(out_table1, "COUNT_type_of_cr", "Number_of_Crashes", "Number_of_Crashes")  # renaming field

In [31]:
arcpy.AlterField_management(out_table1, "light_cond", "Light_Condition", "Light_Condition")  # renaming field

In [33]:
arcpy.AlterField_management(out_table2, "COUNT_type_of_cr", "Number_of_Crashes", "Number_of_Crashes")  # renaming field

In [34]:
arcpy.AlterField_management(out_table2, "traffic_co", "Traffic_Sign", "Traffic_Sign")  # renaming field

In [35]:
arcpy.AlterField_management(out_table3, "COUNT_type_of_cr", "Number_of_Crashes", "Number_of_Crashes")  # renaming field

In [44]:
arcpy.AlterField_management(out_table3, "road_surf_", "Road_Condition", "Road_Condition")  # renaming field

In [36]:
arcpy.DeleteField_management(out_table, "FREQUENCY")   # deleting the field FREQUENCY because not needed

In [37]:
arcpy.DeleteField_management(out_table1, "FREQUENCY")   # deleting the field FREQUENCY because not needed

In [38]:
arcpy.DeleteField_management(out_table2, "FREQUENCY")   # deleting the field FREQUENCY because not needed

In [39]:
arcpy.DeleteField_management(out_table3, "FREQUENCY")   # deleting the field FREQUENCY because not needed

In [40]:
field_names=[i.name for i in arcpy.ListFields(out_table) if i.type !='OID']
cursor=arcpy.da.SearchCursor(out_table, field_names)
stats=pd.DataFrame(data=[row for row in cursor], columns=field_names)
stats.head()

    Road_Classification  Number_of_Crashes
0                 Local                  2
1   Major/urb collector                 18
2        Minor arterial                  9
3       Minor collector                 10
4  Other princ arterial                 13

In [41]:
field_names1=[i.name for i in arcpy.ListFields(out_table1) if i.type !='OID']
cursor=arcpy.da.SearchCursor(out_table1, field_names1)
stats1=pd.DataFrame(data=[row for row in cursor], columns=field_names1)
stats1.head()

      Light_Condition  Number_of_Crashes
0      Dark - Lighted                  5
1  Dark - Not Lighted                 50
2                Dawn                  3
3            Daylight                  6
4                Dusk                  3

In [42]:
field_names2=[i.name for i in arcpy.ListFields(out_table2) if i.type !='OID']
cursor=arcpy.da.SearchCursor(out_table2, field_names2)
stats2=pd.DataFrame(data=[row for row in cursor], columns=field_names2)
stats2.head()

            Traffic_Sign  Number_of_Crashes
0  Advisory/Warning Sign                  1
1        No Passing Zone                  4
2                   None                 60
3                  Other                  2

In [45]:
field_names3=[i.name for i in arcpy.ListFields(out_table3) if i.type !='OID']
cursor=arcpy.da.SearchCursor(out_table3, field_names3)
stats3=pd.DataFrame(data=[row for row in cursor], columns=field_names3)
stats3.head()

  Road_Condition  Number_of_Crashes
0            Dry                 61
1            Wet                  6